<div id="<%= dom_id question %>">
  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Quiz:</strong>
    <%= question.quiz_id %>
  </p>

  <p>
    <strong>Points:</strong>
    <%= question.points %>
  </p>

</div>
