<div id="<%= dom_id quiz %>">
  <p>
    <%= quiz.description %>
  </p>

  <% if quiz.questions.any? %>
    <ol>
      <% quiz.questions.each do |question| %>
        <li><%= question.name %></li>
      <% end %>
    </ol>
  <% else %>
    <p>
      <strong>No questions available for this quiz.</strong>
    </p>
  <% end %>

</div>
