<% content_for :title, "My Quizzes" %>

<h1>My Quizzes</h1>

<table id="quizzes">
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @quizzes.each do |quiz| %>
      <%= render "quiz_row", quiz: quiz %>
    <% end %>
  </tbody>
</table>

<%= link_to "New quiz", new_quiz_path %>
